In [148]:
# coding: utf-8

# In[ ]:


# Connecting to postgresql 
import psycopg2

import json
try:
    conn= psycopg2.connect(host='localhost', dbname= 'pyapp', user= 'root', password= 'dev123')
    print ("connected to database.")
except:
    print("unable to connect")

connected to database.

In [149]:
 
import sys
from sys import argv
import pandas as pd
import json
#from keras.models import Sequential
from sklearn.model_selection import train_test_split
from numpy import median
import requests
from math import sqrt
#from future import print_function
import sys
#import plotly.graph_objs as go
import pandas.compat as compat
import numpy as np
#from sqlalchemy import create_engine

import sklearn
import matplotlib
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LogisticRegression
#from tensorflow.contrib import learn
from sklearn.metrics import mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt 
from matplotlib import pyplot as plt
from seaborn import FacetGrid
from numpy import median
from numpy import genfromtxt
from sklearn import datasets
import time
from datetime import datetime
import seaborn as sns
from seaborn import FacetGrid
#get_ipython().magic('matplotlib inline')
from numpy import median
from numpy import array
import tensorflow as tf
import itertools
#import seaborn as sns

In [150]:
# Fetch the data from the database 
cur= conn.cursor()
cur.execute("SELECT * FROM tb_testcase_to_sprints_mapping")
data= cur.fetchall()
#print(data)

In [151]:
# Fetch the data from the database 
cur= conn.cursor()
cur.execute("SELECT * FROM tb_api_reports")
data1= cur.fetchall()
data1= pd.DataFrame(data1, columns= ['Report_id_integer', 'Report_file_name', 'Report_file_path','Report_file_size','Uses_id ','Testcase_id','Testset_id','Created_at_timestamp_without_Time_Zone','Module_id','Datasets_status','Report_result','Report_type','Pass_count','Fail_count','Execute_time']) 

#Dropping Unwanted variables 
data1.drop(['Datasets_status','Report_result','Report_id_integer','Report_file_name','Report_file_size','Report_file_path','Uses_id','Execute_time','Created_at_timestamp_without_Time_Zone'], axis= 1, inplace= True, errors= 'ignore')
df_1= data1.filter(['Testcase_id', 'Pass_count', 'Fail_count', 'Report_type','Module_id'], axis= 1)

#df_1 = df_1.apply(lambda x: x.sort_values().values)





df_1= df_1.loc[df_1['Module_id'].isin([427,425,424,423,422,420,419,397,437,435,434,419,395])]




df_1= df_1.set_index('Module_id', drop= False, inplace= False)
df_1= df_1.sort_index(axis= 0)
df_1= pd.DataFrame(df_1)
df_1= df_1.reset_index(drop= True)

df_1 = df_1.apply(lambda x: x.sort_values().values)
df_1

     Testcase_id  Pass_count  Fail_count Report_type  Module_id
0              0           0           0     Android        395
1            251           0           0     Android        395
2            251           0           0     Android        395
3            251           0           0     Android        395
4            251           0           0     Android        395
5            251           0           0     Android        395
6            251           0           0     Android        395
7            251           0           0     Android        395
8            251           0           0     Android        395
9            251           0           0     Android        395
10           251           0           0     Android        395
11           252           0           0     Android        395
12           252           0           0     Android        395
13           252           0           0     Android        395
14           252           0           0     Android        395
15           252           0           0     Android        395
16           252           0           0     Android        395
17           445           0           0     Android        397
18           445           0           0     Android        397
19           445           0           0     Android        397
20           445           0           0     Android        397
21           445           0           0     Android        397
22           445           0           0     Android        397
23           445           1           0     Android        397
24           445           1           0     Android        397
25           445           1           0     Android        397
26           445           1           0     Android        397
27           455           1           0     Android        419
28           455           1           0     Android        419
29           455           1           0     Android        419
..           ...         ...         ...         ...        ...
79           456           6           1         web        422
80           456           6           1         web        422
81           456           6           1         web        422
82           457           6           1         web        422
83           457           6           1         web        422
84           457           6           1         web        422
85           457           6           1         web        422
86           457           6           1         web        422
87           457           6           1         web        422
88           457           6           1         web        422
89           457           7           1         web        422
90           457           7           1         web        422
91           457           7           1         web        422
92           458           7           1         web        422
93           459           7           1         web        422
94           459           7           1         web        422
95           461           7           3         web        422
96           461           7           4         web        422
97           461           7           4         web        422
98           461           7           5         web        422
99           461           7           6         web        424
100          461           7           7         web        424
101          461           7           7         web        424
102          469           7           8         web        434
103          469           7          12         web        434
104          469           7          16         web        434
105          469           7          16         web        434
106          470           8          16         web        435
107          470          12          16         web        435
108          470          19          16         web        435

[109 rows x 5 columns]

In [152]:
#columns=['id','web_testcase_id','api_testcase_id','sprint_id','sprint_name']
#Converting into a DataFrame 
df= pd.DataFrame(data, columns= ['id','web_testcase_id','api_testcase_id','sprint_id','sprint_name','android_testcase_id','ios_testcase_id','sqe_project_id'])

#Dropping Unwanted variables 
df.drop(['id'],axis= 1, inplace= True, errors= 'ignore')
df

,web_testcase_id,api_testcase_id,sprint_id,sprint_name,android_testcase_id,ios_testcase_id,sqe_project_id
0,444,0,1,Sprint 1,0,0,257
1,444,0,10,Sprint 8,0,0,257
2,447,0,6,Sprint 4,0,0,257
3,0,252,9,Sprint 7,0,0,288
4,0,252,10,Sprint 8,0,0,288
5,0,251,7,Sprint 5,0,0,288
6,445,0,8,Sprint 6,0,0,257
7,445,0,9,Sprint 7,0,0,257
8,445,0,10,Sprint 8,0,0,257
9,446,0,5,Sprint 3,0,0,257
10,446,0,6,Sprint 4,0,0,257
11,446,0,7,Sprint 5,0,0,257
12,446,0,8,Sprint 6,0,0,257
13,446,0,9,Sprint 7,0,0,257
14,0,251,8,Sprint 6,0,0,288
15,0,0,9,Sprint 7,455,0,288
16,0,0,10,Sprint 8,455,0,288
17,450,0,10,Sprint 8,0,0,263
18,452,0,0,Select,0,0,265
19,469,0,10,Sprint 8,0,0,288

In [153]:
df= df.set_index('sprint_name', drop= False, inplace= False)
#df= df.drop(['Laser Tag Sprint 5','FleetStream Sp 4','VEA Sprint 1','VEA Sprint 2','VEA Sprint 3','VEA Sprint 4','VEA Sprint 5','VEA Sprint 6','VEA Sprint 7','VEA Sprint 8','VEA Sprint 9','VEA Sprint 10','VEA Sprint 11','VEA Sprint 12','VEA Sprint 17'], axis= 0)
df= pd.DataFrame(df)
df= df.reset_index(drop= True)
df= df.set_index('sprint_name', drop= False, inplace= False)
df= df.sort_index(axis= 0)
df= pd.DataFrame(df)
df= df.reset_index(drop= True)
# df= df.set_index('web_testcase_id', drop= False, inplace= False)
# df= df.sort_index(axis= 0)
# df= pd.DataFrame(df)
# df= df.reset_index(drop= True)


#print(sorted(df['web_testcase_id'].unique()))

In [154]:
df_1= df_1.set_index('Report_type', drop= False, inplace= False)
df_1= df_1.loc[['web','api'],:]
df_1= pd.DataFrame(df_1)
df_1= df_1.reset_index(drop= True)
df_1= df_1.set_index('Testcase_id', drop= False, inplace= False)
df_1= df_1.sort_index(axis= 0)
df_1= pd.DataFrame(df_1)
df_1= df_1.reset_index(drop= True)
df_1= df_1.set_index('Testcase_id', drop= False, inplace= False)
# df_1= df_1.loc[df_1.index> 212]
df_1= df_1.reset_index(drop= True)

In [155]:
df_result= df_1.pivot_table(index= 'Testcase_id',values= ['Pass_count','Fail_count',], aggfunc= np.sum, fill_value= 0, margins= False) 

df_result= pd.DataFrame(df_result)
df_result= df_result.reset_index(level= ['Testcase_id'])
result= pd.concat([df_result, df],axis= 1,levels= 1)
# result= result.fillna(0)


# result= result[['Testcase_id','Pass_count','Fail_count','sprint_id','sprint_name','web_testcase_id','api_testcase_id','android_testcase_id','ios_testcase_id']]

In [156]:

df= result.loc[:,"web_testcase_id":"ios_testcase_id"]
df["Pass_count"]= 0
df["Fail_count"]= 0

for i in range(df.shape[0]):
    if(int(df["api_testcase_id"].iloc[i])!= 0):
        try:
            df.iat[i,6]= df_result[df_result["Testcase_id"]==int(df["api_testcase_id"].iloc[i])]["Pass_count"].values[0]
        except:
            continue
        try:
            df.iat[i,7]= df_result[df_result["Testcase_id"]== int(df["api_testcase_id"].iloc[i])]["Fail_count"].values[0]
        except:
            continue
    if(int(df["ios_testcase_id"].iloc[i])!= 0):
        try:
            df.iat[i,6]= df_result[df_result["Testcase_id"]== int(df["ios_testcase_id"].iloc[i])]["Pass_count"].values[0]
        except:
            continue
        try:
            df.iat[i,7]= df_result[df_result["Testcase_id"]==int(df["ios_testcase_id"].iloc[i])]["Fail_count"].values[0]
        except:
            continue
    if(int(df["android_testcase_id"].iloc[i])!= 0):
        try:
            df.iat[i,6]= df_result[df_result["Testcase_id"]==int(df["android_testcase_id"].iloc[i])]["Pass_count"].values[0]
        except:
            continue
        try:
            df.iat[i,7]= df_result[df_result["Testcase_id"]==int(df["android_testcase_id"].iloc[i])]["Fail_count"].values[0]
        except:
            continue
    if(int(df["web_testcase_id"].iloc[i])!=0):
        try:
            df.iat[i,6]= df_result[df_result["Testcase_id"]==int(df["web_testcase_id"].iloc[i])]["Pass_count"].values[0]
        except:
            continue
        try:
            df.iat[i,7]= df_result[df_result["Testcase_id"]==int(df["web_testcase_id"].iloc[i])]["Fail_count"].values[0]
        except:
            continue
            
# df.drop(df.index[70:], inplace=True)   
df = df[['sprint_id','sprint_name','web_testcase_id','api_testcase_id','android_testcase_id', 'ios_testcase_id','Pass_count', 'Fail_count' ]]
df= df.set_index('sprint_id', drop=False, inplace=False)
df= df.sort_index(axis=0)
df= pd.DataFrame(df)
df= df.reset_index(drop=True)

In [157]:
cols= ['sprint_id', 'web_testcase_id', 'api_testcase_id',
       'android_testcase_id', 'ios_testcase_id']
df[cols]= df[cols].applymap(np.int64)

In [158]:
v= ['Pass_count','Fail_count']
df[v]= df[v].div(df[v].sum(axis=1), axis=0).multiply(100)
df[v]= df[v].applymap("{0:.1f}".format)
for col in v:
    df[v] = df[v].astype(dtype=np.float64)
df= df.fillna(0)


# predict = [ pd.Series(['11', 'Sprint9', '442','0','0','0','0','0'], index=df.columns) ,
#             pd.Series(['11', 'Sprint9', '443','0','0','0','0','0'], index=df.columns) ,
#             pd.Series(['12', 'Sprint10', '444','0','0','0','0','0'], index=df.columns),
#             pd.Series(['12', 'Sprint10', '445','0','0','0','0','0'], index=df.columns),
#             pd.Series(['12', 'Sprint10', '446','0','0','0','0','0'], index=df.columns) ]

# predict= pd.DataFrame(predict)
# predict= predict.drop(['sprint_name'],axis=1)
# predict= predict.apply(pd.to_numeric, errors='coerce')


df

,sprint_id,sprint_name,web_testcase_id,api_testcase_id,android_testcase_id,ios_testcase_id,Pass_count,Fail_count
0,0,Select,452,0,0,0,0.0,0.0
1,1,Sprint 1,444,0,0,0,0.0,0.0
2,5,Sprint 3,446,0,0,0,0.0,0.0
3,6,Sprint 4,446,0,0,0,0.0,0.0
4,6,Sprint 4,447,0,0,0,0.0,0.0
5,7,Sprint 5,446,0,0,0,0.0,0.0
6,7,Sprint 5,0,251,0,0,0.0,0.0
7,8,Sprint 6,445,0,0,0,0.0,0.0
8,8,Sprint 6,0,251,0,0,0.0,0.0
9,8,Sprint 6,446,0,0,0,0.0,0.0
10,9,Sprint 7,0,0,455,0,69.3,30.7
11,9,Sprint 7,446,0,0,0,0.0,0.0
12,9,Sprint 7,0,252,0,0,0.0,0.0
13,9,Sprint 7,445,0,0,0,0.0,0.0
14,10,Sprint 8,445,0,0,0,0.0,0.0
15,10,Sprint 8,0,252,0,0,0.0,0.0
16,10,Sprint 8,0,0,455,0,69.3,30.7
17,10,Sprint 8,450,0,0,0,0.0,0.0
18,10,Sprint 8,444,0,0,0,0.0,0.0
19,10,Sprint 8,469,0,0,0,35.0,65.0

In [18]:



# X = df[['web_testcase_id','api_testcase_id','android_testcase_id','Fail_count']]
# y = df[['Pass_count']]
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

# scaler = StandardScaler()
# train_scaled = scaler.fit_transform(X_train)
# test_scaled = scaler.transform(X_test)

# model = LinearRegression()
# model.fit(X_train, y_train)


# mse = mean_squared_error(y_train, model.predict(train_scaled))
# mae = mean_absolute_error(y_train, model.predict(train_scaled))
# print("mse = ",mse," & mae = ",mae," & rmse = ", sqrt(mse))

# y_pred = model.predict(X_test)
# print('Liner Regression R squared: %.2f' % model.score(X_test, y_test))

# # printing values
# print('Slope:' ,model.coef_)
# print('Intercept:', model.intercept_)


# y_pred

# # new instances where we do not know the answer
# # make a prediction

# # ynew = model.predict([predict])
# # # show the inputs and predicted outputs
# # for i in range(len(Xnew)):
# # 	print("X=%s, Predicted=%s" % (predict[i], ynew[i]))

In [115]:

from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(df, test_size=0.2)

In [116]:
FEATURES= ['web_testcase_id','api_testcase_id','android_testcase_id','Fail_count']
LABEL= 'Pass_count'

In [117]:
feature_cols = [tf.feature_column.numeric_column(k) for k in FEATURES]
#model_dir="train"

In [118]:
estimator = tf.estimator.LinearRegressor(    
            feature_columns=feature_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/mw/lq2kc8015db87h11f77cn05c0000gn/T/tmpbbhq9kz9
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/mw/lq2kc8015db87h11f77cn05c0000gn/T/tmpbbhq9kz9', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x1a29a000f0>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [119]:
def get_input_fn(data_set, num_epochs=None, n_batch = 128, shuffle=True):    
         return tf.estimator.inputs.pandas_input_fn(       
         x= pd.DataFrame({k: data_set[k].values for k in FEATURES}),       
         y= pd.Series(data_set[LABEL].values),       
         batch_size=n_batch,          
         num_epochs=num_epochs,       
         shuffle=shuffle)

In [120]:
estimator.train(input_fn=get_input_fn(train_set,                                       
                                           num_epochs=None,                                      
                                           n_batch = 128,                                      
                                           shuffle=False),                                      
                                           steps=1000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into /var/folders/mw/lq2kc8015db87h11f77cn05c0000gn/T/tmpbbhq9kz9/model.ckpt.
INFO:tensorflow:loss = 268051.53, step = 1
INFO:tensorflow:global_step/sec: 347.611
INFO:tensorflow:loss = 8317.8, step = 101 (0.293 sec)
INFO:tensorflow:global_step/sec: 282.905
INFO:tensorflow:loss = 8316.97, step = 201 (0.353 sec)
INFO:tensorflow:global_step/sec: 434.301
INFO:tensorflow:loss = 8316.136, step = 301 (0.232 sec)
INFO:tensorflow:global_step/sec: 421.589
INFO:tensorflow:loss = 8315.307, step = 401 (0.239 sec)
INFO:tensorflow:global_step/sec: 311.155
INFO:tensorflow:loss = 8314.476, step = 501 (0.319 sec)
INFO:tensorflow:global_step/sec: 323.219
INFO:tensorflow:loss = 8313.645, step = 601 (0.310 sec)
INFO:tensorflow:global_step/sec: 371.067
INFO:tensorflow:loss = 8312.816, step = 701 (0.271 sec)
INFO:tensorflow:global_step/sec: 346.344
INFO:tensorflow:loss = 8311.984, step = 801 (0.286 sec)
INFO:tensorflow:global_step/sec: 312.887
INFO:tensorflow:loss = 8311.155, step = 901 (0.321 sec)
INFO:tensorflow:Saving checkpoints for 1000 into /var/folders/mw/lq2kc8015db87h11f77cn05c0000gn/T/tmpbbhq9kz9/model.ckpt.
INFO:tensorflow:Loss for final step: 8310.331.

In [121]:
ev = estimator.evaluate(    
          input_fn=get_input_fn(test_set,                          
          num_epochs=1,                                                          
          n_batch = 128,                          
          shuffle=False))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2019-05-09T06:12:20Z
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /var/folders/mw/lq2kc8015db87h11f77cn05c0000gn/T/tmpbbhq9kz9/model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2019-05-09-06:12:20
INFO:tensorflow:Saving dict for global step 1000: average_loss = 2.2369142, global_step = 1000, label/mean = 25.0, loss = 8.947657, prediction/mean = 26.356327
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 1000: /var/folders/mw/lq2kc8015db87h11f77cn05c0000gn/T/tmpbbhq9kz9/model.ckpt-1000

In [122]:
y= estimator.predict(    
     input_fn=get_input_fn(test_set,                          
     num_epochs=1,                          
     n_batch = 128,                          
     shuffle=False))

In [123]:

predictions = list(p["predictions"] for p in itertools.islice(y, 3))
print("Predictions: {}".format(str(predictions)))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /var/folders/mw/lq2kc8015db87h11f77cn05c0000gn/T/tmpbbhq9kz9/model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
Predictions: [array([1.7144033], dtype=float32), array([100.26474], dtype=float32), array([1.7100618], dtype=float32)]

In [124]:

predictions= array(predictions)

class NumpyEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return json.JSONEncoder.default(self, obj)
    
json_str = json.dumps({'prediction1': predictions[0],'prediction2': predictions[1],'prediction3': predictions[2]}, cls=NumpyEncoder, indent=4,)
print(json_str)

{
    "prediction1": [
        1.7144032716751099
    ],
    "prediction2": [
        100.26473999023438
    ],
    "prediction3": [
        1.71006178855896
    ]
}